body{
	background-image: url(http://az616578.vo.msecnd.net/files/2016/02/22/6359174720225254612121023078_puppy5.jpg);
	background-position: center;
	background-size: cover;
}

#formulario{
	margin: 15%;
	border-radius: 7px;
	padding: 5%;
	background-color: rgba(0,0,255,.6);
}
.form-group label{
	color: #ffffff;
}
#datos{
	color: #ffffff;
	font-weight: 600;
}
.btn-primary{
	margin: 2%;
}